
@{
    ViewBag.Title = "Anasayfa";
}


    <style>
        .button2 {
            background-color: DeepSkyBlue; 
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
        } 
        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .button2 {
            border-radius: 12px;
        }
    </style>
        <center>
            <div>
                <img src="~/assets/image/foto1.png" alt="Trulli" width="1200" height="400">
                <a href="/Home/Birimler" type="button" style=" padding: 15px 32px; font-size: 16px; margin-top: -200px; margin-bottom: 200px; margin-right: 150px; margin-left: 900px;" class="btn btn-primary btn-lg">Birimler</a>
                <a href="/Home/Hekimler" type="button" style=" padding: 15px 26px; font-size: 16px; margin-top: -170px; margin-bottom: 200px; margin-right: 150px; margin-left: 900px;" class="btn btn-primary btn-lg">Hekimlerimiz</a>
            </div>
        </center>
        <center><p style="margin-top: -120px; margin-left: 30px; font-size: 32px; color:DodgerBlue;">HASTANELERİMİZ</p></center>
        <center><hr style="color:darkblue" width="400" /></center>

        <div class="container mt-3">
            <div class="card" style="width:320px">
                <img class="card-img-top" src="~/assets/image/hastane1.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:white">UMUT HASTANESİ ANKARA</h4></center>

                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card" style="margin-top: -330px; margin-left: 400px; width:320px">
                <img class="card-img-top" src="~/assets/image/hastane2.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:white">UMUT HASTANESİ <br /> İZMİR</h4></center>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card" style="margin-top: -330px; margin-left: 800px; width:320px">
                <img class="card-img-top" src="~/assets/image/hastane3.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:white">UMUT HASTANESİ ATAŞEHİR</h4></center>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4" style="background-color:MidnightBlue"><img class="card-img-top" src="~/assets/image/atasehir.jpg" alt="Card image" style="width:100%"></div>
            <div class="col-sm-8 " style="background-color:MidnightBlue"><br /><h2 style="color:white;">Umut Ataşehir Hastanesi, Hizmetinizde!</h2> <hr style="color:Aqua; " /><br /><p style="color:white; font-size: 16px">Umut Ataşehir Hastanesi, hasta deneyimini ön plana çıkaran özel mimarisi, güçlü akademik hekim kadrosu, multidisipliner tanı ve tedavi yöntemleri ve modern teknik altyapısı ile hizmetinizde.</p></div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-8 " style="background-color:MidnightBlue"><br /><h2 style="color:white;">Umut International İzmir, Hizmetinizde!</h2> <hr style="color:Aqua;" /><br /><p style="color:white; font-size: 16px">Umut International İzmir Hastanesi, teknik alt yapısı, tıbbi teknolojisi, tüm branşlarda uzman sağlık profesyonelleri ve multidisipliner yaklaşımla pek çok özellikli birimi bünyesinde bulunduruyor. Onkoloji'den Beyin Cerrahi'sine, Organ Naklinden Robotik Cerrahi'ye kadar bir çok özellikli birim konumlanıyor</p></div>
            <div class="col-sm-4" style="background-color:MidnightBlue"><img class="card-img-top" src="~/assets/image/atasehir.jpg" alt="Card image" style="width:100%"></div>
        </div>
        <br />
        <center><h2>SİZİ DİNLİYORUZ</h2></center>
        <center><hr style="color:darkblue" width="400" /></center>
        <center><a href="/Home/Görüşler" class="button button2">GÖRÜŞLERİNİZİ ÖNEMSİYORUZ</a></center>
        <center><hr style="color:darkblue" width="400" /></center>
        <center><h2>HABERLER</h2></center>
        <center><hr style="color:darkblue" width="400" /></center>
        <div class="container mt-3">
            <div class="card" style="width:320px">
                <img class="card-img-top" src="~/assets/image/haber1.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:aqua">Hastane Uzmanlarından Uyarılar</h4></center>
                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card" style="margin-top: -330px; margin-left: 400px; width:320px">
                <img class="card-img-top" src="~/assets/image/haber2.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:aqua">Kış Mevsiminde Beslenme Önem Taşıyor!</h4></center>

                </div>
            </div>
        </div>
        <div class="container mt-3">
            <div class="card" style="margin-top: -330px; margin-left: 800px; width:320px">
                <img class="card-img-top" src="~/assets/image/haber3.png" alt="Card image" style="width:100%">
                <div class="card-body" style="background-color:MidnightBlue">
                    <center><h4 class="card-title" style="color:aqua">Dikkat o hastalığa yakalanmış olabilirsiniz</h4></center>
                </div>
            </div>
        </div>


