
@{
    ViewBag.Title = "Hakkımızda";
}


<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
</head>

<body>
    <center>
        <div>
            <img src="~/assets/image/hakkımızda2.jpg" alt="Trulli" width="900" height="300">
            <br />
            <br />
            <h2 style="color:darkblue">HAKKIMIZDA</h2>
            <hr style="color:darkblue" width="400" />
            <center>
                <p style="color:darkblue; font:10px">
                    Umut Sağlık Grubu; deneyimli ve alanında uzman kadrosu, hasta memnuniyeti odaklı ve sağlık sektöründe fark yaratan hizmet anlayışı ile 1992 yılında hizmet vermeye başlamıştır.Umut Sağlık Grubu, Türkiye genelinde, İstanbul, Ankara, İzmir,3 ilde 3 hastane ile hastalarına sağlık hizmeti sunmaktadır.
                    Onkoloji, Onkolojik Cerrahi, Organ Nakli, Kemik İliği Nakli, Beyin Cerrahisi, Tüp Bebek, Genetik, Kalp ve Damar Cerrahisi, Ortopedi ve Travmatoloji, Obezite Cerrahisi Medicana Sağlık Grubu bünyesinde yer alan branşlardan bazılarıdır.Umut Sağlık Grubu, multidisipliner branş yapısı; alanında uzman,deneyimli hekim, hemşire ve sağlık çalışanı kadrosuyla, Türkiye’den ve dünyanın çeşitli coğraflarından yılda 1 milyonu aşkın hastaya, dünya standartlarında sağlık hizmeti sunmaktadır.
                </p>
            </center>
    </center>
    <center><h4 style="color:darkblue">Hastanelerimiz</h4></center>
    <ul>
        <li style="color:darkblue">UMUT HASTANESİ ANKARA</li>
        <li style="color:darkblue">UMUT HASTANESİ İZMİR</li>
        <li style="color:darkblue">UMUT HASTANESİ ATAŞEHİR</li>
    </ul>
    <center>
        <p style="color:darkblue; font:10px">
            Umut Sağlık Grubu’nun sağlık sektörü dışında da yatırımları devam etmektedir.
            Umut Grubu 2018-2019 eğitim- öğretim döneminde “bireyin bütününü eğitmek” anlayışı ile Umut Eğitim Grubu’nu kurmuş ve MBA (Modern Bilimler Akademisi) Okullarını açmıştır. 2018 yılında Umut Eğitim Grubu'nu kurarak eğitim sektörüne giriş yapan Umut Grubu, MBA (Modern Bilimler Akademisi) Okulları ile güçlü büyümesini sürdürmektedir. MBA Okulları; İstanbul'da Kurtköy, Çamlıca, Halkalı-Atakent, Bursa'da Özlüce ve Ankara Eryaman'da faaliyet göstermekte, anaokulundan liseye kesintisiz eğitim sunmaktadır.Umut Eğitim Grubu aynı zamanda 2019-2020 akademik eğitim yılında,
            Fenerbahçe Üniversitesi’ni eğitime ve öğretime açarak yüksek öğrenim alanında da yatırım yapmıştır.Sağlık sektöründe yatırımlarına devam eden grup, 2020-2021 yılllarında İstanbul’da açmayı planladığı iki yeni hastane ile çok daha geniş kitlelere kaliteli ve bütüncül sağlık hizmeti sunmayı hedeflemektedir.
        </p>
    </center>
    </div>


</body>
</html>

