
@{
    ViewBag.Title = "Hekimler";
}


    <style>
        .lightbox-gallery {
            background-repeat: no-repeat;
            overflow-x: hidden
        }

            .lightbox-gallery p {
            }

            .lightbox-gallery h2 {
                font-weight: bold;
                margin-bottom: 40px;
                padding-top: 40px;
            }

        media (max-width:767px) {
            lightbox-gallery h2

        {
            margin-bottom: 25px;
            padding-top: 25px;
            font-size: 24px
        }

        }

        .lightbox-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px
        }

            .lightbox-gallery .intro p {
                margin-bottom: 0
            }

        .lightbox-gallery .photos {
            padding-bottom: 20px
        }

        .lightbox-gallery .item {
            padding-bottom: 30px
        }
    </style>




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <div class="lightbox-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color:darkblue">HEKİMLERİMİZ</h2>

            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim 6.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim 6.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.FADİME AKSOY <br /> KADIN HASTALIKLARI VE DOĞUM</p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim 7.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim 7.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.NİSA DEMİRCİ<br /> BESLENME VE DİYET</p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim5.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim5.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.ZÜLEYHA BİNİCİ <br /> ESTETİK CERRAHİ</center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim 8.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim 8.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.GÜLŞEN EKMEKÇİ <br /> ÇOCUK CERRAHİSİ</p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim1.jpg"  data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim1.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.BİLAL TERZİ <br /> GENEL CERRAHİ </p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim2.jpg"  data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim2.jpg"></a><br /><br /><br /><center><p style="color:darkblue; font-size:16px">DR.İSMAİL KARTAL <br /> AĞIZ VE DİŞ SAĞLIĞI</p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim3.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim3.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.SABRİ TİRYAKİ <br /> DERMATOLOJİ</p></center></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="~/assets/image/hekim4.jpg" data-lightbox="photos"><img class="img-fluid" src="~/assets/image/hekim4.jpg"></a><br /><br /><center><p style="color:darkblue; font-size:16px">DR.BURAK YILMAZ<br /> ESTETİK CERRAHİ</p></center></div>

            </div>
        </div>
    </div>